@import "tailwindcss";

html, body {
  overscroll-behavior-y: none;
  overflow-x: hidden;
}

/* Fix for Google Maps Places Autocomplete dropdown z-index */
.pac-container {
  z-index: 99999 !important;
}
